{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "printWidth": 80,
    "endOfLine": "lf",
    "overrides": [
      {
        "files": "*.scss",
        "options": {
          "parser": "scss"
        }
      }
    ]
  }
